development:
  adapter: postgresql
  encoding: unicode
  database: sample-database
  pool: 5
  username: root
  password:

test: &test
  adapter: postgresql
  encoding: unicode
  database: sample-database-test
  pool: 5
  username: root
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: sample-database-production
  host: localhost
  pool: 5
  username: root
  password:

cucumber:
  <<: *test
