development:
  adapter: postgresql
  database: sample-database
  username: postgres

test: &test
  adapter: postgresql
  database: sample-database-test
  username: postgres

production:
  adapter: postgresql
  encoding: unicode
  username: postgres

cucumber:
  <<: *test
